.custom-jumbotron{
    text-align: center;
    background-color: forestgreen;

}

.time{
    width: 100px;

}

.past{
    background-color: rgb(174, 174, 174);
}

.current{
    background-color: rgb(254, 103, 103);
}

.future{
    background-color: rgb(97, 219, 97);
}

.saveBtn {
    height: 70px; 
    width: fit-content; 
    border-radius: 3px;
}

.input {
    height: 70px; 
    text-align: center;
}